
* {margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav a{ 

   
    margin: 13px;
    padding-left: 10%;
    font-size: 25pt;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
   
}


header nav a:hover {
color:lightblue
}



body {
background-image:url(images/background.jpg);
}



.footercontainer {
    
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 13pt;
    display: flex;
    padding-left: 140pt;
    padding-top: 10pt;
    background-color: lightcyan

    
   
}

#øl {margin-right: 5%;}


#Socialemedier {

    margin-left: 15%;
    margin-right: 15%;

}


@media (max-width: 1276px) {

    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }

    .footercontainer {
        flex-direction: column;
        padding-left: 37px;
    }
    header nav {
        justify-content: space-around;
        text-align: center;
        width: 100%;
    }
    #img {
       
        width: 35%;
    }
}

