



h1 {text-align: center;
    padding-top: 122px;
    font-size: 35pt;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



#tuborg img{
    
   
    background-repeat: no-repeat;
    margin-left: 35%;
    margin-top: 20pt; 
    padding-bottom: 42px;
    transition: 1s;
    
}

#tuborg img:hover {
    transform: scale(1.2);
}



.dropdown {
    position: sticky;
    font-weight: bold;
    font-size: 25pt;
    padding-left: 36%;
    padding-bottom: 320px;
    
   
  }
  
  .dropdown-content {
   
    display: none;
    position: absolute;
    background-color: lightyellow;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    font-size: 10pt;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  hr {
    
    padding: 1pt;
    background-color: orange;
   
  }



@media screen and (max-width: 1276px) {

    h1 {
       margin-top: 20px;
    }

    #tuborg img{

        margin-left: 1%;
        height: 70%;
        padding-bottom: 50px;
        
    }

    .dropdown {

        display: block;
        margin-bottom: 100%;
        
       
        
    }
  
    .dropdown-content 
    {
        display: block;
        margin-right: 100%;
    }

}
