* {margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header nav a{ 

        margin-left: 100px;
        margin-right: 100px;
        font-size: 25pt;
        font-weight: bold;
        text-decoration: none;
        color: black;
       
}


a:hover {
    color:white;
}




body {
    background-image:url(images/Background.jpg);
}


h1 {text-align: center;
    padding-top: 150px;
    font-size: 35pt;

}

#tuborg {
    background-image: url(images/Tuborg\ squash\ original.png);  
    height: 100%;
    background-repeat: no-repeat;
    margin-left: 43%;
    margin-bottom: 10pt;
    margin-top: 100pt;
    transition: 1s;
    
}

#tuborg:hover {
    transform: scale(1.1);
}


.footercontainer {

    text-align: center;
    font-size: 15pt;
    display: flex;
    padding-left: 120pt;
    padding-top: 30pt;
   
}

#øl {margin-right: 2%;}


#Socialemedier {

    margin-left: 15%;
    margin-right: 15%;

}