


.flexcontainer {

   display: flex;
   column-gap: 150px;
   justify-content: center;
   margin-top: 150px;
}




#light {

width: 400px;
height: 500px;
background-image: url(images/Tuborg\ squash\ light.png);
background-repeat: no-repeat;
margin-bottom: 250px;
transition: 1s;
}

#light:hover {
    transform: scale(1.2);
}

#original {
 
width: 400px;
height: 500px;
background-image: url(Images/Tuborg\ squash\ original.png);
background-repeat: no-repeat;
margin-top: 22px;
transition: 1s
}

#original:hover{ 

    transform: scale(1.2);
}


main h2 {
    
font-size: 22pt;
margin-left: 160px;
}


@media screen and (max-width: 1243px) {

   
    .flexcontainer {
       flex-wrap: wrap-reverse;
    }
    
    #light{
        width: 100%;
        padding-right: 120%;
    }

}
